html {
    /* color */
    --nav-bg:rgb(19, 18, 18);
    --nav-link-hover:#555;
    --primary-txt-color:rgb(255, 255, 255);
    --secondary-txt-color:rgb(97, 91, 91);
    --button-bg:#30d5c8;
    --button-bg-price:rgb(34, 121, 179);

    /* font size */
    --header2:2rem;
    --header3:1.6rem;
    --primary-txt-size:1.5rem;
    --secondary-txt-size:1.4rem;
    --third-txt-size:1.2rem;
    --box-btn-size:1.3rem;
    font-family: 'Poppins', sans-serif;
}

/* Navigation section */

.nav {
    min-height: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
}

.nav__logo {
    margin:1rem;
}

.nav__menu {
    height: 50vh;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    color: var(--primary-txt-color);
    padding: 1rem;
    text-decoration: none;
    font-size: var(--primary-txt-size);
}

.nav__link:hover {
    background-color:var(--nav-link-hover);
}

/* Hamburger menu */

.nav__hamburger {
    width:38px;
    height:35px;
    border:0px;
    border-top: 3px solid var(--primary-txt-color);
    background:transparent;
    position: relative;
    transition: 0.3s transform linear;
    display: none;
}

.nav__hamburger::before, .nav__hamburger::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-top: 3px solid var(--primary-txt-color);
    transform: translateY(11px);
}

.nav__hamburger::after{
    transform: translateY(24px);
    transition: 0.3s transform linear;
}
.nav__hamburger:focus{
      transform: rotate(45deg) translateY(5px);
      border:none;
}

.nav__hamburger:focus::after{
      transform: rotate(-90deg) translateX(-10px);
}


/* Hero section */

.hero {
    min-height: calc(100vh - 80px);
    background-image: url("../images/banner/banner.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero__head {
    display: flex;
    color:var(--primary-txt-color)
}

.hero__button {
    border:none;
    height: 75px;
    border-radius: 13px;
    background-color:var(--button-bg);
    color:var(--primary-txt-color);
    letter-spacing: 2px;
}

.hero__img {
    display: flex;
}

/* Features section */

.features {
    min-height: 50vh;
    display: flex;
    margin: 2rem 0;
}

.features__head {
    padding:2rem 0;
}

.features__container {
    display: flex;
}

.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.features__img img {
    display:block;
    margin:0 auto;
    height: 100%;
    width: 50%;
}

.features__bg1 {
    background-color:#2D96F9;
}

.features__bg2 {
    background-color:#FD9A5E;
}

.features__bg3 {
    background-color:#37EF8D;
}

.features__text {
    align-self: center;
    padding:2rem;
    color:var(--secondary-txt-color);
}

/* About section */

.about {
    display:flex;
}

.about__head {
    display: flex;
}

.about__text {
    color:var(--secondary-txt-color);
}

.about__img{
    align-self: center;

}

/* Review section */

.review {
    width: 100%;
    min-height: 45vh;
    margin-top: 4rem;
    background-image: url('../images/banner/testmonial.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 1000;
}

.review::after {
    content: "";
    position: absolute;
    background-color: #5DB2FF;
    opacity: .8;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -10;
}

.review__container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.fa-star {
    color:rgb(253, 216, 4);
    font-size:30px;
}

.review__head {
    display: flex;
    flex-direction: column;
}

.review__title {
    padding: 2rem 0 1.5rem 0;
    text-align: center;
    color:var(--primary-txt-color);
}

.review__text {
    padding:1rem;
    text-align: center;
    color:var(--primary-txt-color);
}

.review__opinion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding:1.3rem 0 2rem 0;
}

.review__person {
    font-size: var(--third-txt-size);
    text-transform: uppercase;
    color:var(--primary-txt-color);
}

/* Price section */

.price {
    min-height: 90vh;
}

.price__head {
    width: 90%;
    padding: 1rem 0;
    display: block;
    margin:20px auto;
}

.price__title {
    text-align: center;
    font-size: var(--header2);
    letter-spacing: 2px;
    padding: 1rem 0;
}

.price__text{
    text-align: center;
    padding-top: 1rem;
    color: var(--secondary-txt-color);
    font-size: var(--third-txt-size);

}

.price__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0;
}

.price__box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 450px;
    margin: 30px;    
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.box__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.4rem;
    height: 80px;
}

.box__name, .box__value {
    font-size:var(--secondary-txt-size);
    font-weight: 500;
    letter-spacing: 1.2px;
}

.box__value1{
    color:#0181F5;
}

.box__value2{
    color:#FDAE5D;
}

.box__value3{
    color:#01D363
}


.box__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(420px - 130px);
}

.box__point {
    padding:.8rem 0;
    font-size: var(--third-txt-size);
    letter-spacing: .8px;
}

.box__button{
    height: 50px;
    width: 30%;
    align-self: center;
    border: none;
    margin:1.5rem 0;
    color:var(--button-bg-price);
    background-color: transparent;
    border: 1.5px solid var(--button-bg-price);
    border-radius: 10px;
    font-size:var(--box-btn-size);
    font-weight: 400;
    letter-spacing: 1px;
}

.box__button:hover{
    background-color: var(--button-bg-price);
    color: var(--primary-txt-color);
}

.box__card1 {
    background-color: #E9F4FE;
}

.box__card2{
    background-color: #FEF4EE;
}

.box__card3{
    background-color: #E8FCF1;
}