html {
    /* color */
    --nav-bg:rgb(43, 41, 41);
    --nav-link-hover:rgb(34, 29, 29);
    --primary-txt-color:rgb(255, 255, 255);
    --secondary-txt-color:rgb(97, 91, 91);
    --button-bg:#30d5c8;
    --button-bg-price:rgb(34, 121, 179);
    --footer-bg:rgb(43, 41, 41);
    --footer-font:rgb(255, 255, 255);
    --footer-copyrights:rgb(0, 0, 0);
    --download-btn-color:#42B4FA;
    --nav-link-hover-desktop:#42B4FA;

     /* font size */
     --header1:clamp(1.8rem, 5vw, 2.7rem);
     --header2:clamp(1.5rem, 5vw, 2.4rem);
     --header3:clamp(1.2rem, 4vw, 1.5rem);
     --header4:clamp(1.2rem, 4vw, 1.5rem);
     --nav-text:clamp(1rem, 4vw, 1.3rem);
     --lead-text:clamp(1.15rem, 4vw, 1.6rem);
     --btn-txt:clamp(1.1rem, 4vw, 1.35rem);
     --body-text:clamp(1rem, 4vw, 1.3rem);
     --sub-text:clamp(1rem, 4vw, 1.2rem);
     --point-text:clamp(0.9rem, 4vw, 1.2rem);
     --btn-box:clamp(1.1rem, 4vw, 1.3rem);
     --footer-links:clamp(.9rem, 3vw, 1.1rem);

     font-family: 'Poppins', sans-serif;
     scroll-behavior: smooth;
}

/* Navigation section */

.scroll {
    position: sticky;
    top:0;
    z-index: 9999;
}

.nav {
    min-height: 80px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: auto;
    min-width: 100px;
    display: block;
    padding:1.3rem 1.6rem;
}

/* .nav__menu {
    height: 100vh;
} */

.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    color: var(--primary-txt-color);
    padding: 1rem;
    text-decoration: none;
    font-size: var(--nav-text);
}

/* Hamburger menu */

.nav__hamburger {
    width:38px;
    height:35px;
    border:0px;
    border-top: 3px solid var(--primary-txt-color);
    background:transparent;
    position: relative;
    transition: 0.3s transform linear;
    display: none;
}

.nav__hamburger::before, .nav__hamburger::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-top: 3px solid var(--primary-txt-color);
    transform: translateY(11px);
}

.nav__hamburger::after{
    transform: translateY(24px);
    transition: 0.3s transform linear;
}
.nav__hamburger:focus{
      transform: rotate(45deg) translateY(5px);
      border:none;
}

.nav__hamburger:focus::after{
      transform: rotate(-90deg) translateX(-10px);
}

/* Hero section */

.hero {
    background-image: url("../images/banner/banner.png");
    background-repeat: no-repeat;
}

.hero__head {
    display: flex;
    color:var(--primary-txt-color)
}

.hero__title {
    font-size:var(--header1);
}

.hero__text {
    font-size: var(--lead-text);
}

.hero__button {
    border:none;
    min-height: 55px;
    width: auto;
    min-width: 175px;
    border-radius: 50px;
    background-color:var(--button-bg);
    color:var(--primary-txt-color);
    letter-spacing: 2px;
    font-size: var(--btn-txt);
}
.hero__button:hover, .footer__items:hover {
    background-color:var(--nav-link-hover);
}

.hero__img {
    display: flex;
}

/* Features section */

.features {
    min-height: 50vh;
    display: flex;
    margin: 2rem 0;
}

.features__container {
    display: flex;
}

.features__title {
    font-size: var(--header2);
    text-align: center;
}

.features__box {
    display: flex;
    align-items: center;
}

.features__img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.features__img img {
    display:block;
    margin:0 auto;
    height: 100%;
    width: 50%;
}

.features__bg1 {
    background-color:#2D96F9;
}

.features__bg2 {
    background-color:#FD9A5E;
}

.features__bg3 {
    background-color:#37EF8D;
}

.features__text {
    align-self: center;
    padding:2rem;
    color:var(--secondary-txt-color);
    font-size: var(--header3);
    text-align: center;
}

/* About section */

.about {
    display:flex;
}

.about__head {
    display: flex;
}

.about__title{
    font-size: var(--header2);
}

.about__text {
    color:var(--secondary-txt-color);
    font-size: var(--body-text);
}

.about__img{
    align-self: center;
}

.about__picture {
    width: 90%;
    margin: auto;
}

/* Review section */

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/banner/testmonial.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 1000;
    min-height: 40vh;
    margin-top: 4rem;
}

.review::after {
    content: "";
    position: absolute;
    background-color: #5DB2FF;
    opacity: .8;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -10;
}

.review__container {
    display: flex;
    flex-direction: column;
}

.fa-star {
    color:rgb(253, 216, 4);
    font-size:30px;
}

.review__head {
    display: flex;
    flex-direction: column;
}

.review__title {
    padding: 1.8rem;
    text-align: center;
    color:var(--primary-txt-color);
    font-size: var(--header2);
}

.review__text {
    align-self: center;
    text-align: center;
    color:var(--primary-txt-color);
    font-size: var(--body-text);
    padding:1.5rem 2rem;
}

.review__opinion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding:1.3rem 1rem 2rem 1rem;
}

.review__person {
    font-size: var(--sub-text);
    text-transform: uppercase;
    color:var(--primary-txt-color);
}

/* Price section */

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price__head {
    width: 90%;
    padding: 1rem 0;
    display: block;
    margin:20px auto;
}

.price__title {
    text-align: center;
    letter-spacing: 2px;
    padding: 1rem 0;
    font-size: var(--header2);
}

.price__text{
    text-align: center;
    padding-top: 1rem;
    color: var(--secondary-txt-color);
    font-size: var(--body-text);
}

.price__wrapper{
    display: flex;
}

.price__box {
    display: flex;
}

.box__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__name, .box__value {
    font-size:var(--sub-text);
}

.box__value1{
    color:#0181F5;
}

.box__value2{
    color:#FDAE5D;
}

.box__value3{
    color:#01D363
}

.box__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box__point {
    font-size: var(--point-text);
    padding:1rem 0;
    letter-spacing: .5px;
}

.box__button{
    align-self: center;
    border: none;
    color:var(--button-bg-price);
    background-color: transparent;
    border: 1.5px solid var(--button-bg-price);
    border-radius: 10px;
    font-size:var(--btn-box);
    font-weight: 400;
    letter-spacing: 1px;
    white-space: nowrap;
}

.box__button:hover{
    background-color: var(--button-bg-price);
    color: var(--primary-txt-color);
}

.box__card1 {
    background-color: #E9F4FE;
}

.box__card2{
    background-color: #FEF4EE;
}

.box__card3{
    background-color: #E8FCF1;
}


/* Ads section */

.ads {
    min-height: 400px;
    display: flex;
    background: url('../images/banner/product.png');
    background-origin: 50% 50%;
    background-size: cover;
}


.ads__title {
    font-size: var(--header2);
    color:var(--primary-txt-color);
}

.ads__images {
    display: flex;
}

/* Footer section */

.footer{
    min-height: 80vh;
    background-color: var(--footer-bg);
}

.footer__container{
    margin:0 20px;
    padding:1.6rem 0;
}

.fab {
    color:rgb(255, 255, 255);
    font-size: 45px;
}

.footer__social {
    display: flex;
}

.footer__img {
    padding-top:2.5rem;
}

.footer__headings{
    font-size: var(--header4);
    padding:2.5rem 0 .5rem 0;
    color:var(--footer-font);
    letter-spacing: .4px;
}

.footer__items, .footer__text{
    font-size: var(--footer-links);
    padding:.5rem 0;
    color:var(--footer-font);
}

.footer__list {
    cursor: pointer;
}

.footer__copyrights {
    min-height: 80px;
    width: 100%;
    background-color:var(--footer-copyrights);
}

.footer__copytext {
    display: block;
    margin:0 auto;
    height: auto;
    width: 80%;
    color:var(--footer-font);
    font-size: var(--footer-links);
    text-align: center;
    padding:40px 0;
}