/* Navigation section */

.nav {
    flex-direction: column;
    align-items: flex-start;
}

.nav__menu {
    display: none;
}

.nav__hamburger {
    display: block;
    position: absolute;
    top:1.3rem;
    bottom:1.3rem;
    right:1.6rem;
}

.nav__hamburger:focus +.nav__menu {
    display: flex;
}

.nav__list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: .5rem;
}

.nav__item {
    padding:.5rem 0;
}

/* Hero section */

.hero{
    position: relative;
}
.hero::after{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 500px;
    background-color:white;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}

.hero__head {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:1.6rem;
}

.hero__title {
    font-size: var(--header2);
    letter-spacing: 2px;
    margin:2rem 0 1rem 0;
}

.hero__text {
    font-size: var(--secondary-txt-size);
    margin-bottom: .5rem;
}

.hero__button {
    margin: 2.5rem 0;
    padding:.7rem 2rem;
    font-size: var(--primary-txt-size);
}

.hero__img {
   justify-content: center;
   align-items: center;
}

.hero__picture{
    z-index: 1000;
}

/* Features section */

.features{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.features__title {
    font-size: var(--header2);
    text-align: center;
}

.features__box, .features__container {
    flex-direction: column;
}

.features__text {
    font-size: var(--header3);
    text-align: center;
}

/* About section */

.about {
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.about__head {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:1.6rem;
}

.about__title{
    font-size: var(--header2);
    margin-bottom: 1.5rem;
}

.about__text {
    font-size: var(--secondary-txt-size);
    margin-bottom: .3rem;
}

/* Review section */

.review__title {
    font-size: var(--header2);
}

.review__text {
    font-size: var(--secondary-txt-size);
}

/* Price section */

.price__title {
    font-size: var(--header2);
}

.price__text{
    font-size: var(--secondary-txt-size);
}

.price__wrapper{
    flex-direction: column;
    align-items: center;
    margin:20px 0;
}

.price__box {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 240px;
    height: 450px;
    margin: 30px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.box__name, .box__value {
    font-size:var(--secondary-txt-size);
    font-weight: 500;
    letter-spacing: 1.2px;
}

.box__name{
    min-width: 110px;
}

.box__value {
    min-width: 60px;
}

.box__list {
    height: calc(420px - 130px);
}

.box__point {
    font-size: var(--third-txt-size)
}

.box__button{
    height: 50px;
    width: 30%;
    min-width: 100px;
}

/* Ads section */

.ads{
    margin: 2rem 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ads__title {
    font-size: var(--header2);
}

.ads__images {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 .5rem 2rem .5rem;
    gap: 7px;
}
/* Footer section */

.footer__social {
    justify-content: flex-start;
    gap:12px;
    padding:1rem 0;
    flex-wrap: wrap;
}